<!-- Teaser -->
<div class="banner" id="home">
	<div class="banner_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_banner_salle.jpg');"></div>
	<div class="row">
		<div class="colums small-12 medium-12-large-12">
			<div class="center-content">
				<!-- Site title -->
				<div class="logo">
					<h1 id="site-title">ML Week</h1>
				</div>

				<!-- Site Description -->
				<div class="sub-logo">
					<h2 id="site-description"><%= lang.banner.title %></h2>
				</div>

				<!-- Event Info -->
				<div class="event-info">
					<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
						<li>
							<i class="fa fa-map-marker "></i>Nantes, France
						</li>
						<li>
							<i class="fa fa-calendar"></i>02/11/2015
						</li>

					</ul>
				</div>

				<h1><%= lang.banner.teaser %></h1>
				<h2 style="text-align:left"><%- render(lang.banner.description) %>
</h2>

				<!-- Social Links -->
				<div class="row">
					<div class="large-6 small-centered columns">
						<div class="event-social">
							<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
								<li>
									<a href="">
										<i class="fa fa-twitter"></i>Twitter
									</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-facebook"></i>Facebook
									</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-google-plus"></i>Google+
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
