<!-- Teaser -->
<div class="banner banner_light" id="home">
	<div class="banner_bg" data-stellar-background-ratio="0.2" style="background-image: url('/images/bg_banner_salle.jpg');"></div>
	<div class="row">
		<div class="colums small-12 medium-12-large-12">
			<div class="center-content">
				<!-- Site title -->
				<div class="logo">
					<h1 id="site-title">ML Week</h1>
				</div>

				<!-- Site Description -->
				<div class="sub-logo">
					<h2 id="site-description"><%= lang.banner.title %></h2>
				</div>
				
			</div>
		</div>
	</div>
</div>
