<!-- Contact us / Map -->
<div class="maps" id="location">
	<div id="js-map"></div>
	<div class="map-location">
		<h2>Location</h2>
		<ul itemscope="" itemtype="http://schema.org/PostalAddress">
			<li class="title">Address</li>
			<li itemprop="address">33 Rue de la Rosière d'Artois 44100 Nantes France </li>
			<li class="title">Email Address</li>
			<li itemprop="email">jeff@ml-week.com</li>
			<li class="title">Phones</li>
			<li itemprop="phone">English : +33 6 24 40 01 57</li>
			<li itemprop="phone">French : +33 6 58 84 73 94</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
var wplMap = {Lat : 47.214071, Long:-1.567878};
var wplMarker = {Lat : 47.214071, Long: -1.567878};
</script>
