<!-- Footer -->
<div class="footer">
	<div class="footer_bg" data-stellar-background-ratio="0.2" style="background-image: url('/images/bg_buytikets.png');"></div>


	<!-- Copyright -->
	<div class="footer_copyright">
		<div class="row">
			<div class="columns small-12 medium-12 large-12 center-content">
				<%- render(lang.footer.copyright) %>
			</div>

		</div>
	</div>
</div>
