<!-- Mailing List -->
<div class="mailinglist widget-content">
	<div class="mailinglist_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_mailinglist.jpg');"></div>
	<div class="row">
		<div class="columns small-12 medium-12 large-4 envelope">
			<div class="join">
				Join Mailing List:
			</div>
		</div>
		<div class="columns small-12 medium-12 large-8">
			<form id="idnewsletter">
				<input type="text" name="entry.1586445777" id="name" placeholder="Name">
				<input type="email" name="entry.1306918449" id="email" placeholder="Email Adress">
				<button class="btn-default" onclick="postToGoogleForm()">Submit</button>
				<script>

				function postToGoogleForm() {
					$.ajax({
        url: 'https://cors.5apps.com/?uri=https://docs.google.com/forms/d/1UtaASKQICsUli1TQcQgPegrFtTsdQusB-8jx4cgnwIA/formResponse',
        type: 'post',
        data: $('#idnewsletter').serialize(),
        success: function(data) {
                $('#RegisterModal').foundation('reveal', 'open');
                 }
    });
					event.preventDefault();

				}


				</script>
			</form>


		</div>
	</div>
</div>
