<div class="main_menu navbar-fixed">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="mb">
				<div class="navmobile"><a href=""></a></div>
				<ul class="nav-menu">
					<li class="menuItem"><a href="#home">Home</a></li>
					<li class="menuItem"><a href="#speakers">Speakers</a></li>
					<li class="menuItem"><a href="#schedule">Schedule</a></li>
					<li class="menuItem"><a href="#location">Location</a></li>


					<li class="language"><a href="/fr">Français</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
