<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="center-content">
				<h2>Schedule</h2>
				<h4 style="text-align:left">We'll use python as our illustrative language.  If you're a fan of
python, you'll fit right in. If you don't know python yet, fear not,
we won't be using advanced features of the language, and we'll be sure
to provide you with enough background material before the course so
that an hour or two of straight-forward pre-work will have you up to
speed.</h4>
			</div>
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
					<!-- First day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									Introduction
								</div>
								<div class="title">

								</div>
							</div>
							<div class="content">
								<dl class="accordion" data-accordion>

									<dd class="accordion-navigation">
									<a href="#panel1">
										<div class="event-title large-8"> Basic principles, math review</div>
									</a>
									<div id="panel1" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel2">
										<div class="event-title large-8"> Linear regression</div>
									</a>
									<div id="panel2" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel3">
										<div class="event-title large-8">  Logistic regression</div>
									</a>
									<div id="panel3" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel4">
										<div class="event-title large-8">   Support vector machines</div>
									</a>
									<div id="panel4" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel5">
										<div class="event-title large-8">    Neural networks and deep learning</div>
									</a>
									<div id="panel5" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel6">
										<div class="event-title large-8">     Dimensionality reduction</div>
									</a>
									<div id="panel6" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel7">
										<div class="event-title large-8">     Anomaly detection</div>
									</a>
									<div id="panel7" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel8">
										<div class="event-title large-8">     Techniques for large data sets</div>
									</a>
									<div id="panel8" class="content">
										Coming soon...
									</div>
									</dd>
								</dl>
							</div>
						</div>
					</li>

					<!-- Second day -->
					<li>
						<div class="schedule-body">
							<div class="event-header">
								<div class="day">
									SPECIAL TOPICS
								</div>
								<div class="title">
								</div>
							</div>
							<div class="content">
								<dl class="accordion" data-accordion>
									<dd class="accordion-navigation">
									<a href="#panel9">
										<div class="event-title large-8">     Image recognition</div>
									</a>
									<div id="panel9" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel9">
										<div class="event-title large-8">     Understanding text</div>
									</a>
									<div id="panel9" class="content">
										Coming soon...
									</div>
									</dd>
									<dd class="accordion-navigation">
									<a href="#panel9">
										<div class="event-title large-8">     Recommender systems</div>
									</a>
									<div id="panel9" class="content">
										Coming soon...
									</div>
									</dd>
								</dl>
							</div>
						</div>
					</li>


				</ul>

			</div>
		</div>
	</div>
</div>
