<div class=" widget-content" id="visit">
		<div class="row center-content">
	<div class="columns small-12 medium-12 large-12">
<h2>La Rosière</h2>
<h4 style="text-align:left">During the four days of the course we will spend our days in an exquisite 19th century mansion in the heart of Nantes.  Whatever accommodation you choose, you’ll be a short walk or tram/bus ride from the Rosière.  In the evenings, explore Nantes.  If there is interest, we can organize a group dinner or outing (extra).
</h4>
</div>
</div>
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="columns small-12 medium-6 large-6">

		<img src="/images/location/rosiere-1.jpg" width="700" height="240" alt="Img">
<hr>
		<img src="/images/location/rosiere-2.jpg" width="700" height="240" alt="Img">
		 </div>
	<div class="columns small-12 medium-6 large-6">

				<img src="/images/location/rosiere-3.jpg" width="700" height="240" alt="Img">
		<hr>
				<img src="/images/location/rosiere-4.jpg" width="700" height="240" alt="Img">
			</div>
		</div>

</div>
	</div>

<div class=" widget-content" data-stellar-background-ratio="0.2" style="background-color:black; background-image: url('/images/bg_buytikets.png');">
		<div class="row center-content">
	<div class="columns small-12 medium-12 large-12">
<h2  style="color:#cccccc">Nantes</h2>
<h4 style="text-align:left ;color:#cccccc ">	Nantes is located on the Loire where (in the 19th century) the railroad met shipping.  Maritime activities and its port drove the economy well into the 20th century.  Earlier, it was one of the seats of the Duchy of Brittany.
Today, the city rests on more modern underpinnings.  Whether it’s a robotic elephant (Jules Vernes influence), a Breton château, scenic walks along the many rivers that cross the city, or the bustling commerce, quaint streets, and excellent gastronomy of a medium French city, Nantes is well worth the visit.  We might be biased on these points.
</h4>
</div>
</div>
	<div class="row">
		<div class="columns small-12 medium-12 large-12">
			<div class="columns small-12 medium-6 large-6">

		<img src="/images/location/nantes-1.jpg" width="700" height="240" alt="Img">
 </div>
	<div class="columns small-12 medium-6 large-6">

				<img src="/images/location/nantes-2.jpg" width="700" height="240" alt="Img">
	</div>
		</div>

</div>


			</div>

			<div class=" widget-content" >
					<div class="row center-content">
				<div class="columns small-12 medium-12 large-12">
			<h2>Loire-Atlantique</h2>
			<h4 style="text-align:left">If you’re visiting from afar, we’d be remiss not to mention that we are an hour’s drive from picturesque beaches, from vineyards, from charming country walks, and not a few cultural institutions.  Oh, and the Loire Valley is a UNESCO World Heritage Site.  A bit further afield is the stunning north Breton coast and the Mont Saint Michel.  How you spend your weekend is your own business, but, well, think about it, ok?		</h4>
			</div>
			</div>
				<div class="row">
					<div class="columns small-12 medium-12 large-12">
						<div class="columns small-12 medium-6 large-6">

					<img src="/images/location/loire-1.jpg" width="700" height="240" alt="Img">
			 </div>
				<div class="columns small-12 medium-6 large-6">

							<img src="/images/location/loire-2.jpg" width="700" height="240" alt="Img">
				</div>
					</div>

			</div>


						</div>
